body{
    background-color: rgba(9, 19, 10, 0.48);
    text-align: center;
    color:rgb(56,244,132);
    font-family: Century Gothic, sans-serif;
}

h3{
    font-size: 40px;
    font-weight: 100;
}

h4{
    font-size: 25px;
    font-weight: 100;
}

table{
  text-align: center;  
}

tr{
    text-align: center;   
}

    
div{
    margin: auto;
    display:flex;
}

